<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4>There were some errors:</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Signup!</h1>
<div class="form-group">
  <%= form_for @user do |f| %>
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username, class: "form-control" %><br>
    <%= f.label :email, "Email:"  %>
    <%= f.text_field :email, class: "form-control" %><br>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, class: "form-control" %><br>
    <%= f.label :password_confirmation, "Confirm Password:" %>
    <%= f.password_field :password_confirmation, class: "form-control" %><br>
    <%= f.submit %>
  <% end %>
</div>
