<div class="row">
    <h1 class="text-center"><%="#{@user.username.titleize}'s Recordbox"%></h1>
</div>

  <div class="text-center">
    (Count: <%= @records.count %>)
  </div>
<br>
<div class="text-center">
<strong>Sort by</strong><br>
  <%= link_to "Rating", user_recordbox_rating_path %> |
  <%= link_to "Newest", user_recordbox_desc_path %> |
  <%= link_to "Oldest", user_recordbox_asc_path %>
</div>
<br></br>
<%= render "/layouts/records_container" %>

<%= render "records/script" %>
