

  <div class="jumbotron">
    <div class="text-center">
      <h1>Recordbox Reviews</h1>
      <%= link_to "Login", '/login', {method: "get"}%> | <%= link_to "Signup", '/signup', {method: "get"} %> <br>
      <%= link_to('Log in with Facebook', '/auth/facebook') %>
    </div>
  </div>

  <h3 class="text-center">Top Rated Records</h3><br>

  <div class="records-container">
    <% @records.first(8).each do |record| %>
      <div class="record-card">
        <h4 class="text-center"> <%= record.title %></h4>
        <h5 class="text-center"> <%= record.artist  %></h5>
        <div class="star-rating text-center" data-score= <%= record.review_avg %> ></div><br>
        <div class="thumbnail">
          <%= link_to image_tag(record.image, style:'width:100%'), record_path(record) %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "records/script" %>
