<div class="row">
    <h1 class="text-center"> Record Index</h1>
  </div>

  <div class="text-center">
    (Count: <%= @records.count %>)
  </div>
  <br>
  <div class="text-center">
  <strong>Sort by</strong><br>
    <%= link_to "Rating", rating_desc_records_path %> |
    <%= link_to "Newest", released_desc_records_path %> |
    <%= link_to "Oldest", released_asc_records_path %>
  </div>
  <br></br>
  
  <%= render "/layouts/records_container" %>

  <%= render "script" %>
