<h1>Create New Record</h1>

#add_partial for new form


<%= form_for @record do |f| %>

  <%= f.label :artist %>
  <%= f.text_field :artist %><br>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :label %>
  <%= f.text_field :label %><br>

  <%= f.label :format %>
  <%= f.text_field :format %><br>

  <%= f.label :cat %>
  <%= f.text_field :cat %><br>

  <%= f.label :released %>
  <%= f.date_field :released %><br>

  <%= f.label :genre %>
  <%= f.text_field :genre %><br>
<% end %>

  <!--add functionality to add tracks -->
