
    <div class="row">
      <div class="col-md-4">
        <div style="width:300px; height:auto">
          <%= image_tag(@record.image, style:'width:100%') %>
          </div>
          <br>
          <div class="">
            <%= link_to "Add Review", new_record_review_path(@record), class: 'btn btn-primary' if logged_in? && !review_owner %>
            <% if logged_in? && current_user == @record.user %>
              <%= link_to "Edit Record", edit_record_path(@record), class: 'btn btn-primary' %>
              <%= link_to "Delete Record", @record, method: :delete, data: { confirm: "Are you sure you want to delete this record?" }, class: 'btn btn-danger' %>
            <% end %>
          </div>

        </div>
          <div class="col-md-4">
            <div class="top">
              <h2> <strong><%= @record.artist.upcase %></strong> </h2>
              <h3><%= @record.title %></h3>
              <h4><%= @record.label %></h4>
            </div>
            <br>
              <div class="meta-record">
                <strong>Format:</strong> <%= @record.format %>
                <br><strong>Cat:</strong> <%= @record.cat %>
                <br><strong>Released:</strong> <%= @record.released %>
                <br><strong>Genre:</strong> <%= @record.genre %>
              </div>
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td> <h3>Tracklist</h3> </td>
                    <tr>
                      <% @record.tracks.each_with_index do |t, i| %>
                    </tr>
                    <td><%= "#{i+1} - #{t.name}" %>  </td>  <br>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="hidden-xs col-md-4">
              <% if !@record.reviews.empty?  %>
                <h2 class="text-center">Reviews</h2>

                <div class="reviews">
                <% @record.reviews.each do |review| %>
                    <p> <strong> <%= review.user.username.titleize %> says: </strong>
                      <p><%= review.comment %></p>
                      <div class="star-rating" data-score= <%= review.rating %> ></div><br>
                      <strong> Favorite Track: </strong>
                      <%= review.favorite_track %></strong><br>
                      <% if logged_in? && current_user == review.user %>
                      <div class="text-right">
                        <%= link_to "Edit", edit_record_review_path(review.record, review) %> |
                        <%= link_to "Remove", record_review_path(review.record, review), method: :delete %>
                      </div>
                      <% end %>
                    <% end %>
                    ___________________________________________<br></br>
                <% end %>
              </div>
          </div>


        <script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
