<!DOCTYPE html>
<html>
  <head>
    <title>RecordboxReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

  </head>

  <body>
      <% if flash[:message] %>
      <div class="alert alert-danger text-center"> <%= flash[:message] %></div>
      <% end %>
      </div>

      <% if flash[:success] %>
      <div class="alert alert-success text-center"> <%= flash[:success] %></div>
      <% end %>
      </div>

    <%= render "/layouts/navigation" %>

    <div class="container">
      <%= yield %>
    </div>


    <div class="container">
      <footer class="branding text-center">
          <small>&copy; 2018 <strong>Recordbox Reviews</strong></small>
        </footer>
    </div>






    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="app/assets/javascripts/jquery.raty.js"></script>
    <script src="app/views/records/_script.html.erb"></script>
  </body>
</html>
