<!DOCTYPE html>
<html>
  <head>
    <title>RecordboxReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

  </head>

  <body>
    <% if flash[:message] %>
    <div class="alert alert-danger"><%= flash[:message] %></div>
    <% end %>

    <%= render "/layouts/navigation" %>


    <div class="container">
        <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
